# Database
DATABASE_URL=
DIRECT_URL=

# Authentication
AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# File Upload
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=

# Email
AWS_SES_FROM_ADDRESS=
APP_URL=
EMAIL_OVERRIDE_TO=